.section-A {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.section-B {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    margin-left: 180px;
    margin-right: 0px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 870px;
    margin: 30px 0px 30px 0px;
}

.section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 140px;
    margin: 30px 20px 30px 0px;
}

.section-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.search-border {
    border-style: solid;
    border-color: rgb(197, 195, 195);
    border-radius: 30px;
    border-width: 1px;
    width: 630px;
    height: 38px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

#searchbar {
    border: none;
    height: 35px;
    width: 480px;
    font-size: 30px;
    background-color: transparent;
    color: rgb(180, 178, 178);
    font-size: 20px;
}

#searchbar:focus {
    box-shadow: none;
    outline: none;
}

.buttons {
    color: rgb(116, 114, 114);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 28px !important;
}

.buttons:hover{
    color: rgb(59, 58, 58);
    cursor: pointer;
}

.profile {
    color: rgb(116, 114, 114);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 36px !important;
}

.profile:hover{
    color: rgb(59, 58, 58);
    cursor: pointer;
}

.menu-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.menu-button a{
    color: rgb(116, 114, 114);
    text-decoration: none;
    font-size: 14px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.menu-button:hover {
    color: rgb(59, 58, 58) !important;
    text-decoration: none;
}

.menu-button-icon {
    color: rgb(116, 114, 114);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 25px !important;
}


.search-result {
    margin-left: 180px;
    width: 600px;
    margin-top: 5px;
    margin-bottom: 22px;
}

.search-result a {
    display: block;
    width: fit-content;
    font-family: Arial,  sans-serif;
    text-decoration: none;
}

.search-result h1 {
    font-size: 23px;
    margin: 0px 0px 0px 0px;
    font-weight: 200;
    color: rgb(30, 74, 196);
}

.search-result a h1:hover {
    text-decoration: underline;
}

.search-result p {
    font-size: 14px;
    color: rgb(58, 57, 57);
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 5px 0px;
}

.also-search {
    border: solid;
    border-width: 0.5px;
    border-radius: 5px;
    border-color: rgb(191, 191, 196);
    width: 620px;
    margin-left: 160px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 14px;
    margin-bottom: 25px;
}

.also-search p {
    font-size: 14px;
    color: rgb(58, 57, 57);
    font-family: Arial, Helvetica, sans-serif;
}

.also-search-icon {
    font-size: 20px !important; 
    color: rgb(214, 210, 210);
    cursor: pointer;
    padding-right: 5px;
}

.also-search-icon:hover {
    font-size: 20px !important; 
    color: rgb(163, 162, 162);
    cursor: pointer;
}

.also-search-body {
    width: 66%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.also-search-body a {
    text-decoration: none;
    color: rgb(30, 74, 196);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.also-search-body a:hover {
    text-decoration: underline;
}

.also-ask-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0px 7px 0px;
    margin: 0px 0px 0px 0px;
}

.also-ask-body p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.also-ask {
    display: flex;
    flex-direction: column;
    width: 620px;
    margin-left: 180px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: rgb(58, 57, 57);
}

.also-ask h1 {
    margin: 0px 0px 7px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 150;
}

.also-ask hr {
    margin: 0;
    border: none;
    height: 0.5px;
    background-color: rgb(210, 210, 214);
}